<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de vacantes</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">

</head>
<style>
    body {
      background-color: black;
      color: white;
    }
    
    .carousel-img {
      width: 30%;
      height: auto;
    }
    
    #carouselExampleControls {
      margin-bottom: 180px;
    }table td, table th {
  color: white;
   }
   h1 {
      text-align: center;
    }
    
    
  </style>
<body>
<!-- para añadir la imagen, en este caso la imagen se llama logo, si se llamase cabra seria cabra.png-->
	<h1 class="text-info">Libros disponibles</h1>
	<a href="/libros/nuevo" class="btn btn-primary">Crear nuevo libro</a>

	<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Descripcion</th>
    <th>Promocionado</th>
    <th>Precio</th>
    <th>Editar</th>
    <th>Eliminar</th>
    <th>Stock</th>
    <th>Comprar</th>
    <th>Devolucion</th>
  </tr>
  <tr th:each="vacante:${vacantes}">
    <td th:text="${vacante.id}"></td>
    <td th:text="${vacante.titulo}"></td>
    <td th:text="${vacante.autor}"></td>
    <td th:text="${vacante.descripcion}"></td>
    
    <td>
      <span th:if="${vacante.promocionado==1}" class="badge badge-success">Promocionado</span>
      <span th:unless="${vacante.promocionado==1}" class="badge badge-danger"></span>
    </td>
     <td th:text="${vacante.precio + '€'}"></td>
    <td>
    <a class="btn btn-primary btn-sm" th:href="@{/libros/{id}/editar(id=${vacante.id})}">Editar</a>
    </td>
   
  <td>
    <form th:action="@{/libros/{id}/eliminar(id=${vacante.id})}" method="POST" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?')">
    <input type="hidden" name="_method" value="DELETE"/>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>

<td th:text="${vacante.stock}"></td>
<td>
<form method="post" th:action="@{/libros/{id}/comprar(id=${vacante.id})}" onclick= "return confirm('¿Estás seguro de que deseas comprar este libro?')">
            <button type="submit" class="btn btn-success">Comprar</button>
        </form>
    </td>
    <td>
        <form method="post" th:action="@{/libros/{id}/devolver(id=${vacante.id})}" onclick="return confirm('¿Estás seguro de que deseas devolver este libro?')">
            <button type="submit" class="btn btn-warning">Devolver</button>
        </form>
    </td>
    
  
		    	
			
			 
			
		</tr>

	</table>
	
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
	crossorigin="anonymous"></script>

</body>
</html>